
body{
  font-family: sans-serif;
  font-style: normal;
  text-align: center;
  background-color: #A8A09F


}
body title2{
  font-size: 20px;
  text-align: center;
}


header{
  background-color: #CFCBCA;
}
footer{
  background-color: #CFCBCA;
  border: 1px solid black;
  border-radius: 1px;
  padding-bottom: 20px;
}

nav ul{


  text-align: left;
  font-size: 16px;
  padding-bottom: 30px;
  padding-left: 20px;

  }

  nav {

    border-radius: 1px;

    text-align: center;
    font-size: 16px;


    }
nav li{
  padding: 8px;

  float: left;
  list-style: none;
  text-align: center;


}






ul {
    list-style-type: none;
    text-align: center;



}
li a {
  text-decoration: none;
  color: #Black;
  display: block;

}

li a:hover {
  text-decoration: none;
  border-radius: 4px;
  opacity: 0.7;
  background-color: #CFCBCA;
}




.container{
  position: relative;
  border: 2px solid black;
  border-top:  2px solid black;
  border-left:  2px solid black;
  border-right:  2px solid black;
border-radius: 2px;
  padding-bottom: 40px;

}

.container2{
  padding-bottom: 300px;
}

.hoverdiv img{
    width: 150px;
    height: 150px;
    border-radius: 50%;

}


.container3{
  text-align: center;
}

.container4{
  text-align: center;
}

.container5 img{
  border-radius: 50%;
  height: 120px;



}

.container5{
  padding-bottom: 400px;
  background-color: #A8A09F

}





#team{
  display: inline-block;

  padding: 50px;
}




.profile{
  padding: 20px;
  position: relative;
  font-size: 12px;
 width: 150px;
  height: 250px;
  float: left;
  box-shadow: 0 4px 8px 0; background-color: #8E8886;
  margin: auto;
  text-align: center;
  }
.profile img{

      width: 150px;
      height: 150px;
      border-radius: 50%;


}
  .profile2{
      padding: 20px;
    position: relative;
    font-size: 12px;
   width: 150px;
    height: 250px;
    float: left;
    box-shadow: 0 4px 8px 0; background-color: #8E8886;
    margin: auto;
    text-align: center;
    }
    .profile2 img{

          width: 150px;
          height: 150px;
          border-radius: 50%;


    }
    .profile3{
        padding: 20px;
      position: relative;
      font-size: 12px;
     width: 150px;
      height: 250px;
    float: left;
      box-shadow: 0 4px 8px 0; background-color: #8E8886;
      margin: auto;
      text-align: center;
      }
      .profile3 img{

            width: 150px;
            height: 150px;
            border-radius: 50%;


      }

      .profile4{
          padding: 20px;
        position: relative;
        font-size: 12px;
       width: 150px;
        height: 250px;
    float: left;
        box-shadow: 0 4px 8px 0; background-color: #8E8886;
        margin: auto;
        text-align: center;
        }
        .profile4 img{

              width: 150px;
              height: 150px;
              border-radius: 50%;


        }

        .profile5{
            padding: 20px;
          position: relative;
          font-size: 12px;
         width: 150px;
          height: 250px;
    float: left;
          box-shadow: 0 4px 8px 0; background-color: #8E8886;
          margin: auto;
          text-align: center;
          }
          .profile5 img{

                width: 150px;
                height: 150px;
                border-radius: 50%;


          }



}

img{
  height: 150px;
}

.hide {
  display: none;
}

.hoverdiv:hover + .hide {
  display: block;
  color: black;
  float: right;
  padding-bottom: 20px;
}

.ittech {
padding: 35px;
float: left;

}
table {
  margin: 25px 50px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
