
body{
  font-family: sans-serif;
  font-style: normal;
  text-align: center;
  background-color: #A8A09F


}
body title2{
  font-size: 20px;
  text-align: center;
}
header{
  background-color: #CFCBCA;
}
footer{
  background-color: #CFCBCA;
  border: 1px solid black;
  border-radius: 1px;
  padding-bottom: 100px;
}

nav{
  border: 1px solid black;
  border-radius: 1px;
    background-color: #CFCBCA;
  text-align: center;
  font-size: 16px;
  padding-bottom: 63px;
  }
nav li{
  padding: 10px;

  float: left;
  list-style: none;
  text-align: center;


}






ul {
    list-style-type: none;
    text-align: center;


    justify-content: space-around;
}
li a {
  text-decoration: none;
  color: #Black;
  display: block;

}

li a:hover {
  text-decoration: none;
  opacity: 0.7;
  background-color: #CFCBCA;
}




.container{
  position: relative;
  border: 2px solid black;
border-radius: 2px;

}

#team{
  display: inline-block;

  padding: 50px;
}

button:hover, a:hover {
  opacity: 0.7;
}
img {
  border-radius: 50%;
  height: 150px
}

.profile{
  padding: 20px;
  position: relative;
  font-size: 12px;
 width: 150px;
  height: 250px;
  float: left;
  box-shadow: 0 4px 8px 0; background-color: #8E8886;
  margin: auto;
  text-align: center;
  }
  .profile2{
      padding: 20px;
    position: relative;
    font-size: 12px;
   width: 150px;
    height: 250px;
    float: left;
    box-shadow: 0 4px 8px 0; background-color: #8E8886;
    margin: auto;
    text-align: center;
    }
    .profile3{
        padding: 20px;
      position: relative;
      font-size: 12px;
     width: 150px;
      height: 250px;
    float: left;
      box-shadow: 0 4px 8px 0; background-color: #8E8886;
      margin: auto;
      text-align: center;
      }

      .profile4{
          padding: 20px;
        position: relative;
        font-size: 12px;
       width: 150px;
        height: 250px;
    float: left;
        box-shadow: 0 4px 8px 0; background-color: #8E8886;
        margin: auto;
        text-align: center;
        }

        .profile5{
            padding: 20px;
          position: relative;
          font-size: 12px;
         width: 150px;
          height: 250px;
    float: left;
          box-shadow: 0 4px 8px 0; background-color: #8E8886;
          margin: auto;
          text-align: center;
          }



}

img{
  height: 120px;
}

.hide {
  display: none;
}

.hoverdiv:hover + .hide {
  display: block;
  color: red;
  float: right;
  padding-bottom: 20px;
}

.ittech {
padding: 35px;
float: left;

}
